name: Nodejs CI

on:
  push:
    branches:
      - main

jobs:

    build:
      runs-on: ubuntu-latest

      steps:
        - name: Checkout code
          uses: actions/checkout@v4

        - name: Use Node.js 18.x
          uses: actions/setup-node@v4
          with:
            node-version: '18.x'

        - name: Install dependencies
          run: npm install

        - name: Run tests
          run: npm test

        - name: Docker login 
          uses: docker/login-action@v3
          with:
            username: ${{ secrets.DOCKER_USERNAME }}
            password: ${{ secrets.DOCKER_TOKEN }}

        - name: Docker push
          uses: docker/build-push-action@v6
          with:
            context: .
            file: ./Dockerfile
            push: true
            tags: ${{secrets.DOCKER_USERNAME}}/mynodeapp:${{ github.run_id }}

    deploy:
        runs-on: ubuntu-latest
        needs: build

        steps:
        - name: Checkout code
          uses: actions/checkout@v4

        - name: AWS Login
          uses: aws-actions/configure-aws-credentials@v4
          with:
            aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
            aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
            aws-region: ${{ secrets.AWS_REGION }}

        - name: update kubeconfig file
          run: aws eks update-kubeconfig --name ${{ secrets.EKS_NAME }} --region ${{ secrets.AWS_REGION }}

        - name: Deploy to EKS
          run: kubectl apply -f manifest/

        - name: check the deployment status
          run: |
            kubectl rollout status deployment nodejs-deploy
            kubectl get all

        - name: rollback on failure
          if: failure()
          run: kubectl rollout undo deployment/mydeploy